@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}
body {
  background-color: #cdcdcd;
}
#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.height_class {
  height: 50px;
}
.margin_class {
  margin: 0px 30px;
}
#heading_bar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 30px;
}
#search_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input_div {
  width: 84%;
  height: 100%;
}
#input_div > input {
  width: 100%;
  height: 100%;
  padding:10px
}
#button_div {
  width: 15%;
  height: 100%;
}
#button_div > button {
  width: 100%;
  height: 100%;
}
#sort_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sort_bar > div {
  width: 15%;
  height: 100%;
}
#sort_bar button {
  width: 100%;
  height: 100%;
}
button {
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
table,
th ,tr,td{
  border: 2px solid black;
  padding-left: 15px;
}
.wider_col {
  width: 25%;
}
td {
  padding: 15px;
}
.name_td {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 0px solid black;
}
.img_span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  object-fit: cover;
}
.img_span > img {
  height: 24px;
  width: 24px;
}
